*{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin:0px;
    padding:0px;
    /* background-color:#D9D9D9; */
    background: rgba(212,212,212,1);
    background: -moz-linear-gradient(-45deg, rgba(212,212,212,1) 0%, rgba(28,28,28,1) 70%, rgba(28,28,28,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(212,212,212,1)), color-stop(70%, rgba(28,28,28,1)), color-stop(100%, rgba(28,28,28,1)));
    background: -webkit-linear-gradient(-45deg, rgba(212,212,212,1) 0%, rgba(28,28,28,1) 70%, rgba(28,28,28,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(212,212,212,1) 0%, rgba(28,28,28,1) 70%, rgba(28,28,28,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(212,212,212,1) 0%, rgba(28,28,28,1) 70%, rgba(28,28,28,1) 100%);
    background: linear-gradient(135deg, rgba(212,212,212,1) 0%, rgba(28,28,28,1) 70%, rgba(28,28,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#1c1c1c', GradientType=1 );
}
.container{
    width:1263px;
    margin:0px auto;
    box-sizing: border-box;
}
.color-degradado{
    position: relative;
    width:1263px;
    height:577px;
    background-color:red;
    overflow: hidden;
    display: inline-block;
    background: rgba(164,1,248,1);
    background: -moz-linear-gradient(-45deg, rgba(164,1,248,1) 0%, rgba(4,68,52,1) 70%, rgba(4,68,52,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(164,1,248,1)), color-stop(70%, rgba(4,68,52,1)), color-stop(100%, rgba(4,68,52,1)));
    background: -webkit-linear-gradient(-45deg, rgba(164,1,248,1) 0%, rgba(4,68,52,1) 70%, rgba(4,68,52,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(164,1,248,1) 0%, rgba(4,68,52,1) 70%, rgba(4,68,52,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(164,1,248,1) 0%, rgba(4,68,52,1) 70%, rgba(4,68,52,1) 100%);
    background: linear-gradient(135deg, rgba(164,1,248,1) 0%, rgba(4,68,52,1) 70%, rgba(4,68,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a401f8', endColorstr='#044434', GradientType=1 );
}
.header{
    margin-bottom:-4px;
    border:0px;
}

.header img{
    width:1366px;
    height:769px;
    opacity:0.24;
}
.texto-sobrepuesto{
    position: absolute;
}
.header-menu{
    top:0px;
    left:0;
    width:100%;
    padding:15px;
    color:white;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.left{
    display:inherit;
    justify-content:space-between;
    align-items:center;
}
.right{
    display:inherit;
    align-items:center;
    justify-content:left;
}
.right a{
    color:white;
    text-decoration:none;
}
.right ul{
    display: inherit;
    justify-content:space-between;
    margin-right:40px;
}
.right ul li{
    list-style:none;
    margin:0 10px;
    border:2px solid transparent;
    padding:2px;

}
.right ul .btn-tj{
    border:2px solid white;
    padding:2px 5px;
    border-radius:5px;
}
.header-menu img{
    width:100px;
    height:76px;
    margin-right:20px;
    opacity:1;
}
.titulo-bienvenida{
    top: 250px;
    left: 100px;
    color: white;
}
.titulo-bienvenida h1{
    font-size:55px;
    font-weight: 450;
    letter-spacing:4px;
}
.foto-perfil{
    top:521px;
    left:46%;
}
.foto-perfil img{
    width:100px;
    height:100px;
    border-radius:50%;
    opacity:1;
}
.titulo-quiensoy{
    color: white;
    letter-spacing:2px;
    top:415px;
    left:100px;
}
.titulo-quiensoy strong{
    color:#23FF00;
}
.body{
    margin-top: 0px;
    background-color:#444343;
}
.fusion-color{
    top:457px;
    left:0px;
    width:1263px;
    height:120px;
    background: rgba(4,68,52,0.06);
    background: -moz-linear-gradient(top, rgba(4,68,52,0.06) 0%, rgba(28,28,28,0.72) 70%, rgba(68,67,67,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4,68,52,0.06)), color-stop(70%, rgba(28,28,28,0.72)), color-stop(100%, rgba(68,67,67,1)));
    background: -webkit-linear-gradient(top, rgba(4,68,52,0.06) 0%, rgba(28,28,28,0.72) 70%, rgba(68,67,67,1) 100%);
    background: -o-linear-gradient(top, rgba(4,68,52,0.06) 0%, rgba(28,28,28,0.72) 70%, rgba(68,67,67,1) 100%);
    background: -ms-linear-gradient(top, rgba(4,68,52,0.06) 0%, rgba(28,28,28,0.72) 70%, rgba(68,67,67,1) 100%);
    background: linear-gradient(to bottom, rgba(4,68,52,0.06) 0%, rgba(28,28,28,0.72) 70%, rgba(68,67,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#044434', endColorstr='#444343', GradientType=0 );
}